:root { 
--indigo_A200_99:#6462fc99; 
--indigo_A200_66:#6462fc66; 
--gray_700:#555459; 
--gray_500:#aaabb0; 
--gray_800:#3a393e; 
--gray_900_33:#25232e33; 
--gray_900:#1a1a1c; 
--gray_900_01:#1c1c1c; 
--indigo_A200:#6462fc; 
--gray_50:#fafafc; 
--gray_900_4c:#25232e4c; 
--gray_500_33:#aaabb033; 
--blue_gray_900_33:#31313133; 
--blue_gray_900:#313133; 
--white_A700:#ffffff; 
}